In [1]:
import sqlite3

def calculate_average_movies_per_user():
    conn = sqlite3.connect('my_letterboxd_data.db')
    cursor = conn.cursor()

    cursor.execute("""
        SELECT username, COUNT(*) as movie_count
        FROM users
        GROUP BY username
    """)

    total_users = 0
    total_movies = 0

    for username, movie_count in cursor:
        total_users += 1
        total_movies += movie_count

    if total_users > 0:
        average_movies = total_movies / total_users
        print(f"Average number of movies per user: {average_movies:.2f}")
    else:
        print("No users found in the database.")

    conn.close()

calculate_average_movies_per_user()

Average number of movies per user: 794.11

In [ ]:
#find the average number of movies per user with a rating that is not null
def calculate_average_rated_movies_per_user():
    conn = sqlite3.connect('my_letterboxd_data.db')
    cursor = conn.cursor()

    cursor.execute("""
        SELECT username, COUNT(*) as movie_count
        FROM users
        WHERE rating IS NOT NULL
        GROUP BY username
    """)

    total_users = 0
    total_movies = 0

    for username, movie_count in cursor:
        total_users += 1
        total_movies += movie_count

    if total_users > 0:
        average_movies = total_movies / total_users
        print(f"Average number of rated movies per user: {average_movies:.2f}")
    else:
        print("No users found in the database.")

    conn.close()

calculate_average_rated_movies_per_user()

In [ ]:
#print a few rows
def print_rows():
    conn = sqlite3.connect('my_letterboxd_data.db')
    cursor = conn.cursor()

    cursor.execute("""
        SELECT *
        FROM users
        LIMIT 5
    """)

    #fetch
    rows = cursor.fetchall()[0:5]
    for row in rows:
        print(row)

    conn.close()

print_rows()

In [ ]:
conn = sqlite3.connect('my_letterboxd_data.db')
cursor = conn.cursor()


cursor.execute("SELECT DISTINCT movie_name FROM users")
films = cursor.fetchall()
print(len(films))

In [ ]:
conn = sqlite3.connect('my_letterboxd_data.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM release_years")
years = cursor.fetchall()
print(len(years))

In [ ]:
#read first 5 rows from film_details
conn = sqlite3.connect('my_letterboxd_data.db')
cursor = conn.cursor()


cursor.execute("SELECT * FROM film_details ")
film_details = cursor.fetchall()
print(len(film_details))

In [2]:
#count nan values in the rating column
conn = sqlite3.connect('my_letterboxd_data.db')
cursor = conn.cursor()

4536948